@media screen and (min-width:577px) and (max-width:990px) {
    .item {
        max-width: 96%;
        min-height: 93px;
        font-size: 80%;
        margin-top: 45%;
        margin-left: 0%;
    }
    .item h6{
        font-size: 1em;
    }
}